body {
    margin: 0;
    background-color: #444;
}

.profile {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: white;
    font-size: 5em;
    font-family: sans-serif;
    text-shadow: 0 0 20px black;
    margin: 10px 0;
}

img {
    width: 300px;
}

.count {
    cursor: pointer;
    font-size: 2em;
    text-align: center;
    color: black;
    padding: 10px 0;
    border-radius: 15px;
    background-color: antiquewhite;
}

.count:hover {
    background-color: #fae58c;
}